#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #d8edee;
}

#copyButton:hover {
    -fx-background-color: #e2f1f2;
}

#copyButton:armed {
    -fx-background-color: #c4d4d5;
}

#helpMessageContainer {
    -fx-background-color: #c4d45;
}
